@model IEnumerable<eCommerceWebsite.Models.SalesSubsystem.Product>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row pb-4">
        @foreach (var item in @Model)
        {
            <div class="col">
                <div class="card border-secondary mb-2" style="max-width: 15rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">Price: @item.Price.ToString("R0.00")</p>
                        <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-outline-info">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

